{% extends "layouts/base.html" %}

{% block styles %}
    <style>
        .panel{
            min-height: 50vh;
            position: relative;
        }

        .panel-image{
            height: 450px;
        }

        .start-panel{
            height: 95vh;
        }
    </style>
{% endblock %}


{% block title %}Young Browlers - Главная{% endblock %}
{% block content %}
    <article class="panel start-panel d-flex">
        <div class="wrap m-auto">
            <div class="container">
                <div class="wrap d-flex align-items-center justify-content-between">
                    <div class="wrap content mr-5">
                        <h1 class="h2">Young Browlers</h1>
                        <p>Команда первоклассных специалистов в <br>области разработки веб-сайтов с многолетним опытом.</p>
                        <a href="#" class="btn btn-primary mt-3">Посмотреть Портфолио</a>
                    </div>
                    <img src="/public/assets/images/panel-main.png" alt="panel-image" class="panel-image">
                </div>
            </div>
        </div>
    </article>
    <article class="panel portfolio-panel">
        <div class="wrap mt-5">
            <div class="container">
                <h2 class="h2 text-center">Примеры наших решений</h2>
                <p class="text-center mt-3">Более 250 работ в 45 отраслях</p>
                <div class="row mt-5">
                    {% for project in projects %}    
                        <div class="col-12 col-md-4">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">{{ project.title }}</h5>
                                    <p class="card-text">{{ project.description }}</p>
                                    {% if project.links %}    
                                        <p class="card-text text-muted">Ссылки на дополнительные ресурсы:</p>
                                        <ul>
                                            {% for link in project.links %}    
                                                <li>
                                                    <a href="{{ link }}" class="btn-link">{{ link }}</a>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                    <a target="_blank" href="{{ project.site }}" class="btn btn-primary">Посмотреть проект</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </article>
    <article class="panel news-panel">
        <div class="wrap mt-5">
            <div class="container">
                <h2 class="h2 text-center">Новости</h2>
                <p class="text-center mt-3">Самое важное и актуальное</p>
                <div class="row mt-5">
                    {% for news in newses %}    
                        <div class="col-12 col-md-4">
                            <div class="card">
                                <img src="{{ storage(news.image) }}" alt="{{ news.title }}">
                                <div class="card-body">
                                    <h5 class="card-title">{{ news.title }}</h5>
                                    <p class="card-text">{{ news.description }}</p>       
                                    <a href="{{ route('news.show', {news: news.id}) }}" class="btn btn-primary">Подробнее</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
    </article>
{% endblock %}