{% extends "layouts/dashboard.html" %}

{% block header %}
    <h1 class="h2">Новости</h1>
    <a href="{{ route('dashboard.newses.create') }}" class="btn btn-success">Добавить новость</a>
{% endblock %}

{% block content %}
    <div class="row">
        {% for news in newses %}     
            <div class="col-md-6 col-12 col-xl-4">
                <div class="card">
                    <img src="{{ storage(news.image) }}" alt="{{ news.title }}">
                    <div class="card-body position-relative">
                        <div class="btn-group position-absolute" style="top: 15px; right: 0;">
                            <button type="button" class="btn btn-link dropdown-toggle dropdown-toggle-no-after" data-toggle="dropdown" aria-haspopup="false" aria-expanded="false">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" width="20px" height="20px" x="0px" y="0px" viewBox="0 0 384 384" style="enable-background:new 0 0 384 384;" xml:space="preserve">
                                    <g>
                                        <g>
                                            <circle cx="192" cy="42.667" r="42.667"/>
                                        </g>
                                    </g>
                                    <g>
                                        <g>
                                            <circle cx="192" cy="192" r="42.667"/>
                                        </g>
                                    </g>
                                    <g>
                                        <g>
                                            <circle cx="192" cy="341.333" r="42.667"/>
                                        </g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    </svg>
                            </button>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a href="{{ route('dashboard.newses.delete', { news: news.id }) }}" class="dropdown-item text-danger">Удалить</a>
                                <a href="{{ route('dashboard.newses.edit', { news: news.id }) }}" class="dropdown-item text-primary">Изменить</a>
                            </div>
                        </div>
                        <h5 class="card-title">{{ news.title }}</h5>
                        <p class="card-text">{{ news.description }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}