{% extends "layouts/dashboard.html" %}

{% set errors = session('errors') %}

{% block header %}
    <h1 class="h2">Добавление проекта</h1>
{% endblock %}

{% block content %}
<div class="wrap">
    <div class="row">
        <div class="col-md-6 col-12">
            <form action="{{ route('dashboard.projects.store') }}" method="POST">
                <div class="form-group">
                    <label>Логин</label>            
                    <input type="text" class="form-control {% if errors.title %} is-invalid {% endif %}" name="title">
                    <small class="invalid-feedback">{{ errors.title }}</small>
                </div>
                <div class="form-group">
                    <label>Описание</label>            
                    <textarea class="form-control {% if errors.description %} is-invalid {% endif %}" name="description"></textarea>
                    <small class="invalid-feedback">{{ errors.description }}</small>
                </div>
                <div class="form-group">
                    <label>Ссылка на сайт</label>            
                    <input type="text" class="form-control {% if errors.site %} is-invalid {% endif %}" name="site">
                    <small class="invalid-feedback">{{ errors.site }}</small>
                </div>
                <div class="form-group">
                    <label>Дополнительные ссылки</label>            
                    <input type="text" class="form-control {% if errors.links %} is-invalid {% endif %}" name="links">
                    <small class="form-text text-muted">Вводите дополнительные ссылки через `;`</small>
                    <small class="invalid-feedback">{{ errors.links }}</small>
                </div>
                <button class="btn btn-success">Добавить проект</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}